<h2>Upload a new movie</h2>
<form action="/movie/add" method="POST" enctype="multipart/form-data">
<label>Title</label>
<input type="text" name="title">
<label>Description</label>
<input type="text" name="description">
<label>Poster</label>
<input type="file" name="photo">

<button type="submit">Save</button>
</form>