<h1>Books</h1>
{{#if userAuthenticated}} 
  User logged in
{{else}}
  No one is logged in
{{/if}}
{{#each books}}
  <p>
    <a href="/books/{{this._id}}">{{this.title}}</a>
    {{#if ../userAuthenticated}} 
      <a href="/books/edit?book_id={{this._id}}" class="edit-button">EDIT</a>
    {{/if}}
  </p>
{{/each}}